.App {
  text-align: center;
}

.content{
  padding: 5vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  display: inline-block;
  background-color: var(--avara-white);
  border-radius: 0px;
  color: var(--avara-gray);
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  padding: 1rem;
  width: 30vh;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  appearance: none;
  margin: 10vh;
}

button:hover{
  background-color: var(--avara-gray);
  color: var(--avara-white);
}
