.bio{

  background-image: url("../images/backgrounds/bg-none-2.png");
  background-repeat: repeat;
  background-position: center;
}

.bio p{
  color: black;
  text-align: justify;
}

.dark h1, p, a {
  color: white;
  padding: 1.5rem;
}

.footer{
  background: var(--avara-gray);
  padding: 2rem 2rem;
  text-align: center;
}

.footer p{
  font-size: 14px;
  margin-top: 0;
}

.footer-a{
  padding: 0;
}

.keika{
  text-align: center;
}

.keika h1, p, a {
  text-align: center;
  margin: 0;
}

.keika-kuva{
  padding: 3rem 0;
}

.keikat{
  background-color: var(--avara-purple);
  background-image: url("../images/backgrounds/bg-none-3.png");
  background-repeat: repeat;
  background-position: center;
}

.logo {
  width: 100;
  position: absolute;
  top: 10px;
  width: 100%;
  padding: 2rem 0;
}

.julkaisut{
    background-color: var(--avara-gray);
    background-image: url("../images/backgrounds/bg-black-2.png");
    background-repeat: repeat;
    background-position: center;
}

.nav{
    justify-content: center;
}

.navObj{
  color: black;
  text-align: center;
  display: flex;
  padding: 1rem;
}
.video-button {
  position: absolute;
  text-align: center;
  display: block;
  margin-bottom: -20%;
}

.video-container{
  background-image: url("../images/Splash.jpg");
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: auto;

  position: relative;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display:flex;
  margin: auto;
  vertical-align: middle;
}

.vinyl-cover{
  width: calc(100px + 30vh);
}

.yhteys{
  background-image: url("../images/backgrounds/background-cover-art.jpg");
  background-size:cover;
}

.yhteys a{
  color: black;
}

.yhteys button{
  background: transparent;
      border: none;
  justify-content: left;
  text-align: center;
  text-transform: lowercase;
  margin:0;
  text-decoration: underline;

}
