:root{
  --avara-white: #DCDCDC;
  --avara-gray: #161616;
  --avara-purple: #2A2033;
  --avara-red: #3E0D0D;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Six Caps', sans-serif;
  font-size: calc(10px + 10vh);
  letter-spacing: 3px;
  text-transform: uppercase;

}

p{
  text-align: justify;
  font-size: calc(10px + 2vh);
  letter-spacing: 0.2vh;
}

a{
  color: var(--avara-white);
}

a:hover{
  color: var(--avara-purple);
  transition: all 0.8s;
}
